doctype html
html(lang='en')
    head
        title=title
    body
        h3#author(title='Anton') Антон Галкин
        h1 Пример работы шаблонизатора
        #container
            p список логинов:
            ol
                each item in items
                    li= item.login